{% extends "student/base/none_nav_base.html"%}
{% block inner_content%}

    <div class="container-fluid nopadding">
        <div class="row nomargin">
            <div class="col-lg-12 nopadding">
               <a  class="navbar-button navbar-button-left navbar-button-right"></a> 
            </div>
        </div>
    </div>
    
  <h2>对课程进行评估</h2>
  <br/>

  <div>
    {%include "student/widgets/class_table.html"%}
  </div>
  
<div class="modal fade" id="comment_modal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">进行评教</h3>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          {% if form.errors %}
            <p style="cplor:red;">
                Please write the comment
            </p>
          {% endif %}
              {{ form.comment }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
          <input type="submit" class="btn btn-primary" value="提交" id="comment_submit" >
        </div>
        <input type="hidden" id ="form_courseid" name = "courseid" value="">
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="check_comment" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">该课程所有评论</h3>
      </div>
      <div class="modal-body" id="comment_content">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{STATIC_URL}}js/student/comment.js"></script>
{% endblock%}