{% extends "base/base.html"%}
{% block before_css%}
{{block.super}}
{%endblock%}
{% block basepage%}
<div id="nav-container">

    <div id="headerpic">
        {% if not recruit%}
        <ul class="nav navbar-right">
            <li id="welcome_word">
                欢迎你：{{user}}
            </li>
        </ul>
        {%endif%}
    </div>

    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-lg-3 col-xs-12">
                {%block menu_list%}{%endblock%}

            </div>
            <div class="col-lg-9 col-xs-12">
                {%block main_content%}{%endblock%}

            </div>
        </div>
    </div>
    {% block nav_content %}
    {% endblock %}
</div>

{% endblock%}
