<div class="modal fade" id="entry_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h3 class="modal-title">学生录入</h3>
	    </div>
	    <div class="modal-body">
            <form class="form-inline">
                选择小班: {{form.small_classes}}
            </form>
        </div>
    <div class="modal-footer">
        <button type="button" id="entry_btn" class="btn btn-primary" data-dismiss="modal">保存</button>  
	    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	    </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
