
<div class="menu-list">
    <a href="/practice/homepage" class="menu-button-middle"><span class="glyphicon glyphicon-user">&nbsp;个人信息</span></a>
    <a href="/practice/studentmanage" class="menu-button-middle"><span class="glyphicon glyphicon-heart">&nbsp;学生管理</span></a>
    <a href="/practice/teachermanage" class="menu-button-middle"><span class="glyphicon glyphicon-heart-empty">&nbsp;教师管理</span></a>
    <a href="/practice/course" class="menu-button-middle"><span class="glyphicon glyphicon-list">&nbsp;课程管理</span></a>
    <a href="/practice/courseplan" class="menu-button-middle"><span class="glyphicon glyphicon-list-alt">&nbsp;培养计划</span></a>
    <a href="/practice/check_comment"  class="menu-button-middle"><span class="glyphicon glyphicon-edit">&nbsp;教学评估</span></a>
    <a href="/practice/modify_password" class="menu-button-middle"><span class="glyphicon glyphicon-lock">&nbsp;修改密码</span></a>
    <a href="/practice/entry" class="menu-button-middle"><span class="glyphicon glyphicon-pencil">&nbsp;招新录入</span></a>
    <a href="/logout" class="menu-button-middle"><span class="glyphicon glyphicon-off">&nbsp;安全退出</span></a>

    <div class="menu-blank"></div>
</div>
