<table class="table table-bordered">
	<tr class="row">
		<td class="col-lg-4">姓名</td>
		<td class="col-lg-8">{{teacher.teacher_name}}</td>
	</tr>
	<tr class="row">
		<td class="col-lg-4">教工号</td>
		<td class="col-lg-8">{{teacher.teacher_id}}</td>
	</tr>
	<tr class="row">
		<td class="col-lg-4">班级</td>
		<td class="col-lg-8">{{teacher.small_class}}</td>
	</tr>
	<tr class="row">
		<td class="col-lg-4">邮件</td>
		<td class="col-lg-8">{{teacher.teacher_email}}</td>
	</tr>
	<tr class="row">
		<td class="col-lg-4">个人电话</td>
		<td class="col-lg-8">{{teacher.teacher_telephone}}</td>
	</tr>
	<tr class="row">
		<td class="col-lg-4">办公室</td>
		<td class="col-lg-8">{{teacher.office_address}}</td>
	</tr>
	<tr class="row">
		<td class="col-lg-4">办公室电话</td>
		<td class="col-lg-8">{{teacher.office_phone}}</td>
	</tr>
</table>