{% extends "adminStaff/base/teacher_manage_base.html"%}

{% block inner_content %}
    <div id="teachermanage">
        <form action="#" id="teacheraddform" class="form-horizontal" method="POST">
        {% csrf_token %}
        <h3>添加教师</h3>
        <div class= "row">
            <div class="col-lg-3 col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">姓名</span>
                	{{addform.baseinfo_name}}
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">教工号</span>
                	{{addform.baseinfo_teacherid}}
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">班级</span>
                	{{addform.small_class}}
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
            <button class="btn btn-primary" type = "button" onclick="add_teacher()">添加</button>
            <div>
            <span id="teacheradd_error_message"></span>
        </div>
        </form>
    </div>
{%endblock%}
