
<div class="menu-list">
    <a href="/teacher/homepage" class="menu-button-middle"><span class="glyphicon glyphicon-user">&nbsp;教师信息</span></a>
    <a href="/teacher/schedule"class="menu-button-middle"><span class="glyphicon glyphicon-calendar">&nbsp;教师课表</span></a>
    <a href="/teacher/studentmanage" class="menu-button-middle"><span class="glyphicon glyphicon-heart">&nbsp;学生管理</span></a>
    <a href="/teacher/classInfo" class="menu-button-middle"><span class="glyphicon glyphicon-list">&nbsp;课程信息</span></a>
    <a href="/teacher/scoreManagement" class="menu-button-middle"><span class="glyphicon glyphicon-ok-circle">&nbsp;成绩管理</span></a>
    <a href="/teacher/homeworkManagement" class="menu-button-middle"><span class="glyphicon glyphicon-tasks">&nbsp;作业管理</span></a>
    <a href="/teacher/classRemain" class="menu-button-middle"><span class="glyphicon glyphicon-th-list">&nbsp;实践管理</span></a>
    <a href="/teacher/assessment" class="menu-button-middle"><span class="glyphicon glyphicon-edit">&nbsp;教学评估</span></a>
    <a href="/teacher/modify_password" class="menu-button-middle"><span class="glyphicon glyphicon-lock">&nbsp;修改密码</span></a>
    <a href="/teacher/classChange/origin" class="menu-button-middle"><span class="glyphicon glyphicon-refresh">&nbsp;转班申请</span></a>
    <a href="/logout" class="menu-button-middle"><span class="glyphicon glyphicon-off">&nbsp;安全退出</span></a>
    <div class="menu-blank"></div>
</div>
