<form class="form">
    <div class="row">
        <div class="col-lg-3">
            {{form.attendance_rate.label}}:
            <div class="input-group">
                {{form.attendance_rate}}
            </div> 
            <div id="alert-bar" style="color:red">
                {{ form.attendance_rate.errors }}
            </div>

        </div>
        <div class="col-lg-3">
            {{form.homework_rate.label}}:
            <div class="input-group">
                {{form.homework_rate}}
            </div> 
            <div id="alert-bar" style="color:red">
                {{ form.homework_rate.errors }}
            </div>

        </div>
		<div class="col-lg-3">
            {{form.final_rate.label}}:
            <div class="input-group">
                {{form.final_rate}}
            </div> 
            <div id="alert-bar" style="color:red">
                {{ form.final_rate.errors }}
            </div>

        </div>
	</div>
</form>
