{% extends "recruit/base/none_nav_base.html"%}
{% block inner_content%}
{% if recruit_switch%}
    <h1>
        非报名阶段不能报名！
    </h1>
{% else %}
    <br/>
    <div class="alert-info" role="alert">当前报名,相同学号重复提交将覆盖旧信息！</div>
    <div class="container content-container">
      <div class="container main-content-container">
          <div style="margin-left: 24%;">
            <h1>创新创业学院实践班报名表</h1>
          </div>
        <form method="post" class="form-horizontal" enctype="multipart/form-data" action="." id="form_registration" style="width:600px;margin-left:15%;margin-bottom:70px">
          <hr>
          {% csrf_token %}
          <div style="width:65%;margin:0 auto;">
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">姓名</label>
                {{form.student_name}}
                <span class="error-info">{{form.student_name.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">学号</label>
                {{form.student_id}}
                <span class="error-info">{{form.student_id.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">性别</label>
                {{form.sex}}
                <span class="error-info">{{form.sex.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">电话</label>
                {{form.tel_num}}
                <span class="error-info">{{form.tel_num.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">邮箱</label>
                {{form.email}}
                <span class="error-info">{{form.email.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">学部</label>
                {{form.apartment}}
                <span class="error-info">{{form.apartment.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">专业</label>
                {{form.college}}
                <span class="error-info">{{form.college.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">第一志愿</label>
                <select id="id_wish_first" class="form-control regis-input" name="wish_first">
                    <option value selected="selected">---------</option>
                    {% for item in practice %}
        						{% if item.id == 2 %}
        						<option value="{{item.id}}">{{item}}（录取后分班）</option>
                    {% elif item.id != 10 and item.id != 11 and item.id != 12 %}
                    <option value="{{item.id}}">{{item}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <span class="error-info">{{form.wish_first.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">第二志愿</label>
                <select id="id_wish_second" class="form-control regis-input" name="wish_second">
                    <option value selected="selected">---------</option>
                    {% for item in practice %}
        						{% if item.id == 2 %}
        						<option value="{{item.id}}">{{item}}（录取后分班）</option>
                    {% elif item.id != 10 and item.id != 11 and item.id != 12 %}
                    <option value="{{item.id}}">{{item}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <span class="error-info">{{form.wish_second.errors}}</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label regis-label">是否服从调剂</label>
                    {{form.ifAdujst}}
                    <span class="error-info">{{form.ifAdujst.errors}}</span>
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label regis-label">自我简介</label>
            <hr>
            {{form.self_introduction}}
          </div>
          <div style="height:100px;width:310px;margin:20px auto;">
              <img src="/media/images/chuangyuanwx.jpg" alt="" style="width:100px;height:100px;float:left;">
              <p style="line-height:30px;padding-top:5px;">笔试，面试，选课等环节的通知，<br>请关注创新创业学院微信公众号<br>咨询电话：84708599</p>
          </div>
          <div class="div-commit">
            <input class="btn btn-default btn-warning dialog-button" name="commit" type="submit" value="报名"></input>
          </div>
        </form>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/recruit/registration.css"/>
      </div>
    </div>
{%endif%}
<script type="text/javascript" src="{{STATIC_URL}}js/recruit/recruit.js"></script>
{% endblock%}
