<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>创新创业学院在线招新系统</title>
        <link href="{{STATIC_URL}}bootstrap/assets/css/bootstrap.min.css" rel="stylesheet" />
        <!--Base JS-->
        <script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/jquery-1.10.2.min.js"></script>
        <!-- ajax_csrf-->
        <script type='text/javascript' src="{{STATIC_URL}}js/ajax_csrf.js"></script>
        {% load static from staticfiles %}
        {% load dajaxice_templatetags %}
        {% dajaxice_js_import %}
    </head>
    <body>
        {% if recruit_switch%}
            <h1>
                非报名阶段不能报名！
            </h1>
        {% else %}
            <div class="container content-container">
                <div class="container main-content-container">
                    <div>
                        <h3>创新创业学院实践班报名表</h3>
                    </div>
                    <div class="alert-info" role="alert">当前报名,相同学号重复提交将覆盖旧信息！</div>

                    <form method="post" class="form-horizontal"  enctype="multipart/form-data" action="/recruit/mobile" id="form_registration">
                        <hr>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">姓名</label>
                            {{form.student_name}}
                            <span class="error-info">{{form.student_name.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">学号</label>
                            {{form.student_id}}
                            <span class="error-info">{{form.student_id.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">性别</label>
                            {{form.sex}}
                            <span class="error-info">{{form.sex.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">电话</label>
                            {{form.tel_num}}
                            <span class="error-info">{{form.tel_num.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">邮箱</label>
                            {{form.email}}
                            <span class="error-info">{{form.email.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">学部</label>
                            {{form.apartment}}
                            <span class="error-info">{{form.apartment.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">专业</label>
                            {{form.college}}
                            <span class="error-info">{{form.college.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">第一志愿</label>
                            <select id="id_wish_first" class="form-control regis-input" name="wish_first">
                                <option value selected="selected">---------</option>
                                {% for item in practice %}
                                {% if item.id == 2 %}
                                <option value="{{item.id}}">{{item}}（录取后分班）</option>
                                {% elif item.id != 10 and item.id != 11 and item.id != 12%}
                                <option value="{{item.id}}">{{item}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>

                            <span class="error-info">{{form.wish_first.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">第二志愿</label>
                            <select id="id_wish_second" class="form-control regis-input" name="wish_second">
                                <option value selected="selected">---------</option>
                                {% for item in practice %}
                                {% if item.id == 2 %}
                                <option value="{{item.id}}">{{item}}（录取后分班）</option>
                                {% elif item.id != 10 and item.id != 11 and item.id != 12%}
                                <option value="{{item.id}}">{{item}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <span class="error-info">{{form.wish_second.errors}}</span>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label regis-label">是否服从调剂</label>
                              {{form.ifAdujst}}
                              <span class="error-info">{{form.ifAdujst.errors}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label regis-label">自我简介</label>
                            <hr>
                            {{form.self_introduction}}
                        </div>
                        <div style="height:100px;width:310px;margin:20px auto;">
                            <img src="/media/images/chuangyuanwx.jpg" alt="" style="width:100px;height:100px;float:left;">
                            <p style="line-height:30px;padding-top:5px;">笔试，面试，选课等环节的通知，<br>请关注创新创业学院微信公众号<br>咨询电话：84708599</p>
                        </div>
                        <div class="div-commit">
                            <input class="btn btn-default btn-warning dialog-button" name="commit" type="submit" value="报名"></input>
                        </div>
                    </form>
                    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/recruit/registration.css"/>
                </div>
            </div>
        {%endif%}
    </body>
    <script type="text/javascript" src="{{STATIC_URL}}js/recruit/recruit.js"></script>
</html>
