<table class="table table-bordered">
  <h2> 本学期课余量设置表</h2>
  <thead>
    <tr>
      <td class="week" colspan="2">#</td>
      <td class="week">周一</td>
      <td class="week">周二</td>
      <td class="week">周三</td>
      <td class="week">周四</td>
      <td class="week">周五</td>
      <td class="week">周六</td>
      <td class="week">周日</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2" class="period">上午</td>
      <td class="lesson">第一大节<br>(8:00-9:40)</td>
      <td>{{smallClassForm.class_remain_1_1}}</td>
      <td>{{smallClassForm.class_remain_2_1}}</td>
      <td>{{smallClassForm.class_remain_3_1}}</td>
      <td>{{smallClassForm.class_remain_4_1}}</td>
      <td>{{smallClassForm.class_remain_5_1}}</td>
      <td>{{smallClassForm.class_remain_6_1}}</td>
      <td>{{smallClassForm.class_remain_7_1}}</td>
    </tr>
    <tr>
      <td class="lesson">第二大节<br>(10:00-11:40)</td>
      <td>{{smallClassForm.class_remain_1_2}}</td>
      <td>{{smallClassForm.class_remain_2_2}}</td>
      <td>{{smallClassForm.class_remain_3_2}}</td>
      <td>{{smallClassForm.class_remain_4_2}}</td>
      <td>{{smallClassForm.class_remain_5_2}}</td>
      <td>{{smallClassForm.class_remain_6_2}}</td>
      <td>{{smallClassForm.class_remain_7_2}}</td>
    </tr>
    <tr>
      <td colspan="9">午休</td>
    </tr>

    <tr>
      <td rowspan="2" class="period">下午</td>
      <td class="lesson">第三大节<br>(1:30-3:10)</td>
      <td>{{smallClassForm.class_remain_1_3}}</td>
      <td>{{smallClassForm.class_remain_2_3}}</td>
      <td>{{smallClassForm.class_remain_3_3}}</td>
      <td>{{smallClassForm.class_remain_4_3}}</td>
      <td>{{smallClassForm.class_remain_5_3}}</td>
      <td>{{smallClassForm.class_remain_6_3}}</td>
      <td>{{smallClassForm.class_remain_7_3}}</td>
    </tr>
    <tr>
      <td class="lesson">第四大节<br>(3:30-5:10)</td>
      <td>{{smallClassForm.class_remain_1_4}}</td>
      <td>{{smallClassForm.class_remain_2_4}}</td>
      <td>{{smallClassForm.class_remain_3_4}}</td>
      <td>{{smallClassForm.class_remain_4_4}}</td>
      <td>{{smallClassForm.class_remain_5_4}}</td>
      <td>{{smallClassForm.class_remain_6_4}}</td>
      <td>{{smallClassForm.class_remain_7_4}}</td>
    </tr>
    <tr>
      <td colspan="9">晚饭</td>
    </tr>
    <tr>
      <td rowspan="2" class="period">晚上</td>
      <td class="lesson">第五大节<br>(6:00-7:40)</td>
      <td>{{smallClassForm.class_remain_1_5}}</td>
      <td>{{smallClassForm.class_remain_2_5}}</td>
      <td>{{smallClassForm.class_remain_3_5}}</td>
      <td>{{smallClassForm.class_remain_4_5}}</td>
      <td>{{smallClassForm.class_remain_5_5}}</td>
      <td>{{smallClassForm.class_remain_6_5}}</td>
      <td>{{smallClassForm.class_remain_7_5}}</td>
    </tr>
    <tr>
      <td class="lesson">第六大节<br>(8:00-9:40)</td>
      <td>{{smallClassForm.class_remain_1_6}}</td>
      <td>{{smallClassForm.class_remain_2_6}}</td>
      <td>{{smallClassForm.class_remain_3_6}}</td>
      <td>{{smallClassForm.class_remain_4_6}}</td>
      <td>{{smallClassForm.class_remain_5_6}}</td>
      <td>{{smallClassForm.class_remain_6_6}}</td>
      <td>{{smallClassForm.class_remain_7_6}}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" type="button" id="classRemainButton">提交</button>
