
<div class="menu-list">
    <a href="/adminStaff/studentmanage" class="menu-button-middle"><span class="glyphicon glyphicon-heart">&nbsp;学生管理</span></a>
    <a href="/adminStaff/teachermanage" class="menu-button-middle"><span class="glyphicon glyphicon-heart-empty">&nbsp;教师管理</span></a>
    <a href="/adminStaff/mycourseplan" class="menu-button-middle"><span class="glyphicon glyphicon-list-alt">&nbsp;培养计划</span></a>
    <a href="/adminStaff/classInfo" class="menu-button-middle"><span class="glyphicon glyphicon-calendar">&nbsp;课程信息</span></a>
    <a href="/adminStaff/course" class="menu-button-middle"><span class="glyphicon glyphicon-list">&nbsp;课程管理</span></a>
    <a href="/adminStaff/selectcourse" class="menu-button-middle"><span class="glyphicon glyphicon-th-large">&nbsp;选课管理</span></a>
    <a href="/adminStaff/classRemain" class="menu-button-middle"><span class="glyphicon glyphicon-th-list">&nbsp;实践管理</span></a>
    <a href="/adminStaff/classmanage" class="menu-button-middle"><span class="glyphicon glyphicon-tasks">&nbsp;班级管理</span></a>
    <a href="/adminStaff/admin_comment" class="menu-button-middle"><span class="glyphicon glyphicon-edit">&nbsp;教学评估</span></a>
    <a href="/adminStaff/classroom" class="menu-button-middle"><span class="glyphicon glyphicon-home">&nbsp;教室信息</span></a>
    <a href="/adminStaff/modify_password" class="menu-button-middle"><span class="glyphicon glyphicon-lock">&nbsp;修改密码</span></a>
    <a href="/adminStaff/managementsetting" class="menu-button-middle"><span class="glyphicon glyphicon-cog">&nbsp;管理设置</span></a>
    <a href="/logout" class="menu-button-middle"><span class="glyphicon glyphicon-off">&nbsp;安全退出</span></a>
    <div class="menu-blank"></div>
</div>
