<div class="container-fluid nopadding">
    <div class="row nomargin">
        <div class="col-lg-3 col-xs-3 nopadding">
           <a href="/adminStaff/studentmanage" class="navbar-button navbar-button-left">添加学生信息</a>
        </div>
        <div class="col-lg-3 col-xs-3 nopadding" >
           <a href="/adminStaff/studentmanage/search" class="navbar-button">学生信息检索</a>
        </div>
        <div class="col-lg-3 col-xs-3 nopadding">
           <a href="/adminStaff/studentmanage/classchange" class="navbar-button">转班申请</a>
        </div>
        <div class="col-lg-3 col-xs-3 nopadding">
           <a href="/adminStaff/studentmanage/studentchangeclass" class="navbar-button">学生转班</a>
        </div>
    </div>
</div>
