


{% extends "adminStaff/base/_content.html"%}
{% block outter_content%}
    <div class="mynavbar">

		<div class="container-fluid nopadding">
		    <div class="row nomargin">
		        <div class="col-lg-6 col-xs-6 nopadding">
		           <a href="/adminStaff/modify_password" class="navbar-button navbar-button-left"> 修改我的密码</a>
		        </div>
		        <div class="col-lg-6 col-xs-6 nopadding">
		           <a href="/adminStaff/modify_password/student" class="navbar-button"> 修改学生密码</a>
		        </div>
		    </div>
		</div>


    </div>
    <div class="mycontent">
        {% block inner_content%}{%endblock%}
    </div>

{%endblock%}
