<form >
        <h3>学生检索</h3>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-3">
                <div class="input-group">
                    <span class="input-group-addon">查询</span>
                    <input type="text" id="searchStu" class="form-control" placeholder="姓名或学号">
                </div>
            </div>
            <div class="col-lg-1">
                <button type = 'button' class="btn btn-primary" id="studentSearch">检索</button>
            </div>
        </div>
</form>
<div id="select_student_change_class_table">
</div>
